
/* Style the top navigation bar */
.navbar {
    display: flex;
   
    font-family:Nunito;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: #829ab1;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
  }
  
  
  /* Change color on hover */
  .navbar a:hover {
 
    color: #186faf;

  }
  
  /* Style the active button*/
  .active{
    color:whitesmoke;
  }
  
  /* position of the nav bar */
  .navbar  {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  

  }

  /* style the changing lines */

  #navbar_bar,  #navbar_barback{
    position: absolute;
	bottom: 0;
    left: 0%;
    border-radius: 20px;
	display: block;
	
	height: 5px;
   

	transition: all 0.5s;
  }
  #navbar_bar{
    background: #186faf;
    z-index: 1;
    left: 33%;
    width: 33%;
    transition: 0.25s;
  }
  #navbar_barback{
    
	background: #EEE;
	
    width: 100%;
    z-index: 0;

  }
  body{
      margin: 0px;
  }

  .slider{
      position:relative;
  }

.app,
.screen {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
}

.screen {
  width: 40vw;
  min-width: 500px;
  background-color: #f0f4f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 100, 0.35);
}

.buttonGray {
  font-family: Baloo;
  border: solid #b4b4b4 1px;
  padding: 15px 55px;
  color: white;
  background-color: #b4b4b4;
  border-radius: 40px;
  font-size: 22px;
}

.page {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baloo";
}

h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}
/* page 1 */

.introText {
  text-align: center;
}

#page1 {
  display: flex;
}

/* page 2 */

#page2 {
  display: none;
}

.textBody {
  font-family: Nunito;
  max-width: 500px;
  text-align: center;
  padding: 25px 25px;
  margin: -20px 20px 0px;
  font-size: 16px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 7px #acacac;
}

/* Page 3 */

#page3 {
  display: none;
}
.mascotImage {
  padding: 0px 0px 0px 0px;
  width: 280px;
  height: 280px;
}

#tab {
  display: flex;
  margin-bottom: -32px;
}

.tabReasoning {
  font-family: Baloo;
  font-size: 16pt;
  color: white;
  border-radius: 20px 20px 0px 0px;
  text-decoration: white underline;
  margin-right: 10px;
}

#deductTab {
  padding: 10px 20px 30px;
  background-color: #f46969;
  text-decoration: white underline;
  height: 25px;
}

#inductTab {
  padding: 5px 20px 15px;
  background-color: #af6262;
  height: 20px;
  margin-top: 45px;
}

p,
#question1,
#question2,
#question3,
#question4,
.quitBtn {
  font-family: "Nunito";
}

h1,
h2,
h3 {
  font-family: "Baloo";
}

.reasoning {
  font-family: Baloo;
  font-size: 21px;
  color: #f06364;
  margin: 2px;
  text-decoration: underline;
}

.questionText {
  font-family: "Baloo";
  margin: 2px;
  font-size: 21px;
}

.questionCount {
  text-align: center;
  font-weight: 600;
  margin-top: 60px;
  position: relative;
}
/* General */

.transition {
  transition: ease-in-out 0.2s;
}

.btn {
  font-family: "Baloo";
  padding: 15px 55px;
  color: white;
  border-radius: 40px;
  font-size: 22px;
  border: transparent;
  cursor: pointer;
}

.buttonBlue {
  background-color: #4098d7;
}
.buttonBlue:hover {
  background-color: #2471a8;
}

.buttonRed {
  background-color: #f06364;
}

.buttonRed:hover {
  background-color: rgb(99, 99, 99);
}
/* How to Play */

.howToPlayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.howToPlayTextBox {
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  padding: 1.5em;
}

.arrowImage {
  width: 30px;
}

/* Game */

/* General */
#page5 {
  display: none;
  align-items: center;
  flex-direction: column;
}

.questionsBtn {
  z-index: 0;
  width: 70%;
  border-radius: 20px;
  margin: 10px;
  max-width: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 5px solid transparent;
}

.questionsBtn:hover {
  border: 5px solid #af6262;
  cursor: pointer;
}

.image {
  width: 200px;
  height: 200px;
  background-color: royalblue;
}

/* Next Question Page */
.nextQuestionPage {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(110, 203, 102, 0.91);
}

.incorrectPage {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(72, 129, 195, 0.9);
}

.nextQuestionBtn,
.tryAgainButton {
  display: none;
  order: 3;
}
.resultsDescription,
.resultsDescription2 {
  order: 2;
  color: white;
  margin: 0;
}
.result,
.result2 {
  color: white;
  order: 1;
}

/* Status Bar */

.statusHeader {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "quit progress health";
  width: 100%;
  align-items: center;
  margin-bottom: 25px;
}

.quitBtn {
  display: flex;
  margin: auto;
  width: 50px;
  height: 50px;
  grid-area: quit;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.quitBtn:hover {
  transition: ease-in-out 0.2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15) inset;
}

.progressBar {
  grid-area: progress;
  position: relative;
}

.healthStatus {
  grid-area: health;
  margin: auto;
}

.blueBar,
.backBar {
  height: 10px;
  position: absolute;
  background-color: #0074b5;
  z-index: 1;
  width: 0%;
  margin-top: 20px;
  border-radius: 20px;
}

.blueBar {
  background-color: #0074b5;
  z-index: 1;
  width: 0%;
}

.backBar {
  background-color: #bce0f5;
  z-index: 0;
  width: 100%;
}
