/* NAVIGATION BAR */

/* Style the top navigation bar */
.navbar {
  display: flex;
  width: 100%;
  font-family: Nunito;
}
header {
  width: 90%;
  display: none;
  position: relative;
  margin: 10px 0px 10px 0px;
}
/* Style the navigation bar links */
.navbar a {
  color: #829ab1;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

/* Change color on hover */
.navbar a:hover {
  color: #186faf;
}

/* Style the active button*/
.active {
  color: whitesmoke;
}

/* position of the nav bar */
.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
}

/* style the changing lines */

#navbar_bar,
#navbar_barback {
  position: absolute;
  bottom: 0;
  left: 0%;
  border-radius: 20px;
  display: block;
  height: 5px;
  transition: all 0.5s;
}

#navbar_bar {
  background: #186faf;
  z-index: 1;
  left: 3%;
  width: 33%;
  transition: 0.25s;
}
#navbar_barback {
  background: #eee;
  width: 100%;
  z-index: 0;
}
body {
  margin: 0px;
}

.slider {
  position: relative;
}

/* GENERAL PAGE USES; FONTS, PAGES, BUTTONS, IMAGES AND SCREEN SIZE */
.app,
.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app {
  width: 100vw;
  min-height: 100vh;
}
.screen {
  width: 80%;
  min-width: 320px;
  min-height: 910px;
  background-color: #f0f4f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 100, 0.35);
  height: 100%;
}

/* GENERAL PAGE USES */
.textBody {
  font-family: Nunito;
  max-width: 500px;
  text-align: center;
  padding: 20px 20px;
  margin: 10px 20px 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 1em;
}

.transition {
  transition: ease-in-out 0.2s;
}

.page {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

/* BUTTONS */

.btn {
  font-family: "Baloo";
  padding: 15px 55px;
  color: white;
  border-radius: 40px;
  font-size: 22px;
  border: transparent;
  margin: 40px;
  text-align: center;
  min-width: 220px;
  max-width: 400px;
  cursor: pointer;
}

.buttonBlue {
  background-color: #4098d7;

  margin: 20px;
}
.buttonBlue:hover {
  background-color: #2471a8;
}

.buttonRed {
  background-color: #f06364;
}

.buttonRed:hover {
  background-color: rgb(99, 99, 99);
}
.buttonGray {
  font-family: Baloo;
  border: solid #b4b4b4 1px;
  padding: 15px 55px;
  color: white;
  margin: 20px;
  background-color: #b4b4b4;
  border-radius: 40px;
  font-size: 22px;
  cursor: default;
}

/* FONTS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baloo";
}
h2 {
  margin: 10px;
}
p {
  font-size: 16px;
}

/* page 1 Homepage*/

.heartImage {
  width: 35px;
  height: 35px;
}

.introText {
  text-align: center;
  max-width: 430px;
  font-size: 16px;
  margin: 20px;
}
.pageTitle {
  font-size: 6em;
  margin: 0px;
  height: 125px;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f46969;
}
#page1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* page 2 Introduction*/

#page2 {
  display: none;
}

#introHeader {
  margin-top: 5px;
}

/* Page 3 Definitions*/

#page3 {
  display: none;
}
#page4 {
  justify-content: center;
}
#nextPageBlue {
  display: none;
}

#definitionHeader {
  font-size: 2px;
}

/* Tabs */
.tabReasoning {
  font-family: Baloo;
  font-size: 16pt;
  color: white;
  border-radius: 20px 20px 0px 0px;
  text-decoration: white underline;
  margin-right: 10px;
  cursor: pointer;
}

#tab {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

#deductTab {
  padding: 10px 20px 24px;
  background-color: #f46969;
  text-decoration: white underline;
  height: 30px;
}

#inductTab {
  padding: 5px 20px 16px;
  background-color: #af6262;
  height: 20px;
  margin-top: 45.5px;
}

.reasoningHeader {
  margin: 5px;
  font-size: 16;
}

/* Page 4 How to Play*/
#howtoPlayTopText {
  margin: 0px;
}
.howToPlayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.howToPlayTextBox {
  margin: 12px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  padding: 1.5em;
  background-color: white;
}
.arrowImage {
  width: 5%;
}

p,
#question1,
#question2,
#question3,
#question4,
.quitBtn {
  font-family: "Nunito";
}

h1,
h2,
h3 {
  font-family: "Baloo";
}

.reasoning {
  font-family: Baloo;
  font-size: 21px;
  color: #f06364;
  margin: 2px;
  text-decoration: underline;
}

.questionText {
  text-align: center;
  font-family: "Baloo";
  margin: 15px;
  font-size: 21px;
  line-height: 104.4%;
}

.reasoning {
  line-height: 104.4%;
}
.questionCount {
  color: #8b8ba7;
  text-align: center;
  font-weight: 700;
  margin-top: 60px;
  position: relative;
}

/* Game */

#page5 {
  display: none;
  align-items: center;
  flex-direction: column;
}

.questionsBtn {
  z-index: 0;
  width: 70%;
  border-radius: 20px;
  margin: 10px;
  max-width: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 5px solid transparent;
}

.questionsBtn:hover {
  border: 5px solid #af6262;
  cursor: pointer;
}

.image {
  width: 200px;
  height: 200px;
  background-color: royalblue;
}

/* Next Question Page */
.nextQuestionPage {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(110, 203, 102, 0.91);
}

.incorrectPage {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(72, 129, 195, 0.9);
}

.nextQuestionBtn,
.tryAgainButton {
  display: none;
  order: 3;
}
.resultsDescription,
.resultsDescription2 {
  order: 2;
  color: white;
  margin: 0;
}
.result,
.result2 {
  color: white;
  order: 1;
}

/* Status Bar */

.statusHeader {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "quit progress health";
  width: 100%;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.quitBtn {
  display: flex;
  border: 1px solid #aaaaaa;
  margin: auto;
  width: 50px;
  height: 50px;
  grid-area: quit;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.quitBtn:hover {
  transition: ease-in-out 0.2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15) inset;
}

.progressBar {
  grid-area: progress;
  position: relative;
}

.health {
  grid-area: health;
  position: relative;
  text-align: center;
  margin: auto;
}

.healthStatus {
  position: absolute;
  top: 13%;
  color: white;
  font-weight: 900;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blueBar,
.backBar {
  height: 20px;
  position: absolute;
  background-color: #0074b5;
  z-index: 1;
  width: 0%;
  margin-top: 20px;
  border-radius: 20px;
}

.blueBar {
  background-color: #0074b5;
  z-index: 1;
  width: 0%;
}

.backBar {
  background-color: #bce0f5;
  z-index: 0;
  width: 100%;
}

/* final Page */
#gameOver {
  display: none;
}
#gameOver,
#congratulations {
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: width 0.9s, height 0.3s;
}
.items {
  font-family: "Baloo";
  font-size: 96px;
  color: #4881c4;
}

.marginAuto {
  margin: 10px;
}

.gameOverText {
  color: #0074b5;
}

#congratulations {
  display: none;
}

.congratulationText,
.gameOverText {
  font-size: 100px;
  height: 120px;
  margin: 0px;
}

.congratulationText {
  color: #51c147;
}

@media (min-width: 501px) {
  .mascotImage {
    padding: 0px;
    width: 260px;
    height: 260px;
  }
}

@media (max-width: 500px) {
  .screen {
    width: 100%;
    height: 100vh;
  }
  .tabReasoning {
    height: 150px;
  }
  #page2 {
    position: relative;
  }
  #tab {
    margin-top: -25px;
    margin-bottom: -25px;
  }
  .howToPlayTextBox {
    padding: 1em;
  }
  .mascotImage {
    width: 210px;
    height: 210px;
  }
  #page3 {
    margin-top: -20px;
  }
}

@media (max-height: 900px) {
  p {
    font-size: 0.8em;
  }
  .questionText {
    font-size: 1em;
    margin: 5px;
  }
}
@media (max-width: 500px) {
  .screen {
    width: 100%;
    min-height: 568px;
  }
  .textBody {
    font-size: 0.9em;
    padding: 15px 15px;
  }
  .introText {
    font-size: 1em;
    margin: 20px 10px;
  }
  .navbar a {
    font-size: 0.8em;
  }

  .btn {
    min-width: 100px;
    min-height: 30px;
    font-size: 1em;
  }
  .howToPlayTextBox {
    min-height: 20px;
    padding: 1em;
  }
  .questionsBtn {
    font-size: 0.7em;
  }
  .tabReasoning {
    font-size: 1em;
  }
}

@media (max-height: 600px) and (max-width: 500px) {
  .navbar a {
    font-size: 0.6em;
  }
  p {
    font-size: 0.7em;
  }

  .btn {
    min-width: 80px;
    min-height: 15px;
    font-size: 1em;
  }
}
